# 环境文件
/.jdks/
/.venv/
/.idea/shelf/
/.idea/workspace.xml

# 基于编辑器的 HTTP 客户端请求
/.idea/httpRequests/

# 数据源本地存储忽略的文件
/.idea/dataSources/
/.idea/dataSources.local.xml

# gateway 模块 target 目标文件
/lersosa-java/lersosa-gateway/lersosa-gateway-api/target/

# service 模块 target 目标文件
/lersosa-java/lersosa-service/lersosa-service-auth/target/
/lersosa-java/lersosa-service/lersosa-service-file/target/
/lersosa-java/lersosa-service/lersosa-service-gen/target/
/lersosa-java/lersosa-service/lersosa-service-job/target/
/lersosa-java/lersosa-service/lersosa-service-openai/target/
/lersosa-java/lersosa-service/lersosa-service-system/target/

# api 模块 target 目标文件
/lersosa-java/lersosa-api/lersosa-api-system/target/

# common 模块 target 目标文件
/lersosa-java/lersosa-common/lersosa-common-algorithm/target/
/lersosa-java/lersosa-common/lersosa-common-base/target/
/lersosa-java/lersosa-common/lersosa-common-core/target/
/lersosa-java/lersosa-common/lersosa-common-datascope/target/
/lersosa-java/lersosa-common/lersosa-common-datasource/target/
/lersosa-java/lersosa-common/lersosa-common-i18n/target/
/lersosa-java/lersosa-common/lersosa-common-log/target/
/lersosa-java/lersosa-common/lersosa-common-redis/target/
/lersosa-java/lersosa-common/lersosa-common-security/target/
/lersosa-java/lersosa-common/lersosa-common-sensitive/target/
/lersosa-java/lersosa-common/lersosa-common-swagger/target/

# cloud 模块 target 目标文件
/lersosa-java/lersosa-cloud/lersosa-cloud-nacos/target/
/lersosa-java/lersosa-cloud/lersosa-cloud-seata/target/
/lersosa-java/lersosa-cloud/lersosa-cloud-sentinel/target/

# monitor 模块 target 目标文件
/lersosa-java/lersosa-visual/lersosa-visual-monitor/target/

# vite 模块环境文件
/lersosa-vite/node_modules/
/lersosa-vite/dist/
/lersosa-vite/pnpm-lock.yaml

# 临时文件
/work/

# 日志文件
/logs/
/derby.log

# docker 环境文件
/docker/mysql/
/docker/redis/
