# 环境文件
/.conda/
/.jdks/
/.venv/
/.idea/shelf/
/.idea/workspace.xml

# 基于编辑器的 HTTP 客户端请求
/.idea/httpRequests/

# 数据源本地存储忽略的文件
/.idea/dataSources/
/.idea/dataSources.local.xml

# java 模块 target 目标文件
/lersosa-java/**/target/

# vite 模块环境文件
/lersosa-vite/**/node_modules/
/lersosa-vite/**/dist/
/lersosa-vite/**/package-lock.json

# 编译生成的文件
**/.flattened-pom.xml
/lersosa-vite/lersosa-vite-admin/src/types/auto-imports.d.ts
/lersosa-vite/lersosa-vite-admin/src/types/components.d.ts

# 日志文件
/logs/
/sessionStore/
/derby.log

# docker 环境文件
/docker/mysql/
/docker/redis/
/docker/minio/
/docker/elk/
/docker/prometheus/
/docker/rabbitmq/
/docker/kafka/
/docker/grafana/
/docker/skywalking/
/docker/rocketmq/
/docker/shardingproxy/

# mlflow 运行环境
/mlruns/
